/* ------color palette------------- */

:root {
--bg-color-1: #111;
--bg-color-2: aliceblue;
--font: #FFF;
--accent-1: #000137;
--accent-2:rgb(179, 218, 255);
--accent-3: #c9caff;
--dark: #333;
}

/* -------CSS resets------------ */

/* Change box-sizing default to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}





* {
    margin: 0;
    padding: 0;
}

/* respecting user font size preference  */
html {
    font-size: 100%;
}

/* make images responsive  */
img {
    display: block;
    max-width: 100%;
}



/* --------General CSS----------- */

body {
background-color: var(--bg-color-1);
color: var(--font);
font-size: 1.5rem;
line-height: 1.5;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 5rem 2rem;
}

header h1 {
    text-shadow: #474747 3px 5px 2px;
}

nav a {
text-decoration: none;
color: var(--font);
margin: 0 1rem;
transition: all .5s ease;
}

nav a:hover {
    color: var(--accent-3)

}




.about-content, .portfolio-content, .contact-content {
     max-width: 60rem;
     margin: 5rem auto;
      
    
}

.about-content h2, .portfolio-content h2, .contact-content h2{
margin: 2rem 0;
}

.portfolio-item {
    padding: 1rem;
    background-color: var(--accent-3);
    color: #111;

}


footer {

 padding: 1rem 2rem;   
}

footer  img {
    display: inline;
    max-width: 3rem;
    margin: 0 .5rem;
}

/* ------style flexer----- */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container-grid {
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: stretch;
}

.flex-item-grid {
    flex: 1 0 17rem;
}
