/* CSS resets */
* {
    margin: 0;
    padding: 0;
}

/* respecting user font size preference  */
html {
    font-size: 100%;
}


/* General CSS */

body {
    background-color: #ffeed5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

header {
    padding: 6rem;
    margin-bottom: 3rem;
    /* background-color: azure; */
    text-align: center;
    border-bottom: #000000 1px solid;
}

header h1 {
    font-size: 3rem;
}

.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 5rem;
}
.about-content, .portfolio-content, .contact-content {
    max-width: 60rem;
    margin: 2rem auto;
}
.portfolio-item {
margin-bottom: 5rem;
background-color: cornsilk;
padding: 4rem;
text-align: center;
}
.portfolio-item img {
max-width: 100%;
margin: 0 auto;
display: block;
}
.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    font-size: 1.2rem;
}



.about-section {
    background-color: aliceblue;
}
.portfolio-section {
    background-color: rgb(179, 218, 255);
}
