/* CSS resets */
*{
    margin: 0;
    padding: 0;
}



/* General CSS */

body {
    background-color: #ffeed5;
    font-family:Arial, Helvetica, sans-serif ;
}
header {
    padding: 40px;
  margin-bottom: 40px;
    background-color: azure;
    text-align: center;
}