/* CSS resets */
*{
    margin: 0;
    padding: 0;
}

/* respecting user font size preference  */
html {
    font-size: 100%;
}


/* General CSS */

body {
    background-color: #ffeed5;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 1.5rem;
    line-height: 1.5;
}
header {
    padding: 6rem;
  margin-bottom: 3rem;
    /* background-color: azure; */
    text-align: center;
    border-bottom: #000000 1px solid;
}

header h1 {
 font-size: 3rem;   
}

main 

.about-section, .portfolio-section, .contact-section {
    margin-bottom: 5rem;
}
.about-content, .portfolio-content, .contact-content {
        max-width: 60rem;
    margin: 2rem auto;
}

.portfolio-item {
    margin-bottom: 5rem;
    background-color:azure;
    padding: 2rem;
    text-align: center;
}

.about-section {
    background-color:azure;
}

.portfolio-section {
    background-color:azure;
}

